.img-center{
	margin: auto;
}
.center-abs{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
.subtitulo{
	padding-top: 120px;
	padding-bottom: 120px; 
	font-size: 16px;
	color: #3d3f42;
}
.subtitulo > p{
	margin-top: 45px;
}
.medium{
	font-weight: 500;
}
.regular{
	font-weight: 400;
}
article{
	background-image: url("../images/Fondo_contenido.jpg");
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;
	background-repeat: repeat-y;
	font-family: 'Roboto', sans-serif;
}

#portada{
	background-image: url("../images/portada/Portada.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}
	#portada-bottom{
		position: absolute;
		bottom: 0px;
		width: 100%;
		background-color: #65a5d4;
	}
	#portada-bottom > .container > .row > div:nth-child(2){
		padding-top: 3%;
	}
#videos > .container > .row > div{
	position: relative;
	cursor: pointer;
}
	#videos > .container > .row > div > img:nth-child(2){
		left: 10%;
		bottom: 10%;
	}
#quiz{
	background-color: #64a3d6;
}
	#quiz > .container{
		position: relative;
	}
	#quiz > .container > div{
		width: 50%;
		height: 90%;
	}


@media screen and (min-width: 767px){
	article{
		background-size: cover;
	}
	#quiz > .container > div {
	    width: 200px;
		height: 70px;
	}
}
@media screen and (min-width: 1200px){
	#quiz > .container > div {
	    width: 280px;
	    height: 85px;
	}
}